<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>UnicodeFilter</filter-name>
  	<display-name>UnicodeFilter</display-name>
  	<description></description>
  	<filter-class>com.bia.web.filter.UnicodeFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>UnicodeFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>UserListController</servlet-name>
  	<display-name>UserListController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.UserListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillListController</servlet-name>
  	<display-name>BillListController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.BillListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductListController</servlet-name>
  	<display-name>ProductListController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.ProductListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryListController</servlet-name>
  	<display-name>CategoryListController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.CategoryListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUserController</servlet-name>
  	<display-name>AddUserController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCategoryController</servlet-name>
  	<display-name>AddCategoryController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddCategoryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductController</servlet-name>
  	<display-name>AddProductController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillDetailController</servlet-name>
  	<display-name>BillDetailController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.BillDetailController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBillController</servlet-name>
  	<display-name>AddBillController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddBillController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBillDetailController</servlet-name>
  	<display-name>AddBillDetailController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddBillDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserListController</servlet-name>
  	<url-pattern>/UserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillListController</servlet-name>
  	<url-pattern>/BillList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductListController</servlet-name>
  	<url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryListController</servlet-name>
  	<url-pattern>/CategoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUserController</servlet-name>
  	<url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCategoryController</servlet-name>
  	<url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductController</servlet-name>
  	<url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillDetailController</servlet-name>
  	<url-pattern>/BillDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBillController</servlet-name>
  	<url-pattern>/AddBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBillDetailController</servlet-name>
  	<url-pattern>/AddBillDetail</url-pattern>
  </servlet-mapping>
</web-app>
