<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>UnicodeFilter</filter-name>
  	<display-name>UnicodeFilter</display-name>
  	<description></description>
  	<filter-class>com.bia.web.filter.UnicodeFilter</filter-class>
  </filter>

  <servlet>
  	<servlet-name>UserListController</servlet-name>
  	<display-name>UserListController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.UserListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillListController</servlet-name>
  	<display-name>BillListController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.BillListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductListController</servlet-name>
  	<display-name>ProductListController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.ProductListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CategoryListController</servlet-name>
  	<display-name>CategoryListController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.CategoryListController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddUserController</servlet-name>
  	<display-name>AddUserController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCategoryController</servlet-name>
  	<display-name>AddCategoryController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddCategoryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductController</servlet-name>
  	<display-name>AddProductController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillDetailController</servlet-name>
  	<display-name>BillDetailController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.BillDetailController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBillController</servlet-name>
  	<display-name>AddBillController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddBillController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddBillDetailController</servlet-name>
  	<display-name>AddBillDetailController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddBillDetailController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteUserController</servlet-name>
  	<display-name>DeleteUserController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBillController</servlet-name>
  	<display-name>DeleteBillController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.DeleteBillController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCategoryController</servlet-name>
  	<display-name>DeleteCategoryController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.DeleteCategoryController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProductController</servlet-name>
  	<display-name>DeleteProductController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.DeleteProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShopController</servlet-name>
  	<display-name>ShopController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.ShopController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SigninController</servlet-name>
  	<display-name>SigninController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.SigninController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignupController</servlet-name>
  	<display-name>SignupController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.SignupController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignoutController</servlet-name>
  	<display-name>SignoutController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.SignoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddToCartController</servlet-name>
  	<display-name>AddToCartController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.AddToCartController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShoppingCartController</servlet-name>
  	<display-name>ShoppingCartController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.ShoppingCartController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ShowTotalBillController</servlet-name>
  	<display-name>ShowTotalBillController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.ShowTotalBillController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeController</servlet-name>
  	<display-name>HomeController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.HomeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BlogController</servlet-name>
  	<display-name>BlogController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.BlogController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactController</servlet-name>
  	<display-name>ContactController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.ContactController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutController</servlet-name>
  	<display-name>CheckoutController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.CheckoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductDetailController</servlet-name>
  	<display-name>ProductDetailController</display-name>
  	<description></description>
  	<servlet-class>com.bia.web.controller.ProductDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserListController</servlet-name>
  	<url-pattern>/UserList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillListController</servlet-name>
  	<url-pattern>/BillList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductListController</servlet-name>
  	<url-pattern>/ProductList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CategoryListController</servlet-name>
  	<url-pattern>/CategoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddUserController</servlet-name>
  	<url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCategoryController</servlet-name>
  	<url-pattern>/AddCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductController</servlet-name>
  	<url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillDetailController</servlet-name>
  	<url-pattern>/BillDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBillController</servlet-name>
  	<url-pattern>/AddBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddBillDetailController</servlet-name>
  	<url-pattern>/AddBillDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteUserController</servlet-name>
  	<url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBillController</servlet-name>
  	<url-pattern>/DeleteBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCategoryController</servlet-name>
  	<url-pattern>/DeleteCategory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProductController</servlet-name>
  	<url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShopController</servlet-name>
  	<url-pattern>/Shop</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SigninController</servlet-name>
  	<url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupController</servlet-name>
  	<url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignoutController</servlet-name>
  	<url-pattern>/Signout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCartController</servlet-name>
  	<url-pattern>/Shop/Cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShoppingCartController</servlet-name>
  	<url-pattern>/Shoppingcart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ShowTotalBillController</servlet-name>
  	<url-pattern>/ShowTotalBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeController</servlet-name>
  	<url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BlogController</servlet-name>
  	<url-pattern>/Blog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactController</servlet-name>
  	<url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutController</servlet-name>
  	<url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductDetailController</servlet-name>
  	<url-pattern>/ProductDetail</url-pattern>
  </servlet-mapping>
</web-app>
